---
---

@import "{{ site.theme }}";

div.shell {
	width: 1000px;
}

header {
	max-width: 1000px;
}

section#downloads {
	width: 1000px;
}

span.banner-fix{
	width: 1000px;
}

footer {
	max-width: 1000px;
}

.table-wrapper {
  overflow-x: scroll;
}
